#container {
  width: 100vw;
  height: 100vh;
  padding: 3vh 2vw;
  overflow: hidden;
  #border-wrapper {
    height: 100%;
    box-shadow: 0 0 10px 3px rgb(255, 231, 18);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    #content {
      height: 87%;
      background: wheat;
      border-radius: 25px;
      overflow: hidden;
    }
    #menu-wrapper {
      height: 10%;
    }
  }
}
