#my-message {
  margin: 3px 3px 3px 15vw;
  padding: 3px 15px;
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  overflow: hidden;
  .this-message {
    background: rgba(104, 220, 224, 0.774);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }
  .img {
    width: 35px;
    height: 35px;
    border: 1px dashed rgb(35, 35, 35);
    border-radius: 10px;
    align-self: flex-start;
    img {
      width: 35px;
      height: 35px;
    }
  }
}
