* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
  transition: 0.5s;
}

#root {
  height: 100vh;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #1a9, #00001a);
}

#log-out-btn{
  width: 130px;
  height: 35px;
  font-size: 20px;
  border-radius: 10px;
  color: orange;
  background: linear-gradient(135deg, #1a9, #00001a);
  border: 0;
  cursor: pointer;
  box-shadow: 0 0 5px 5px gray;
}

#log-out-btn:hover{
  transform: scale(1.1);
}

.content {
  width: 90vw;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  padding: 10px;
}
